body{

    margin: 0;

    font-family: 'Poppins', sans-serif;

    font-size: 14px;

    background-color: var(--body-bg);

   

}

:root{

    --pri-color: #68e0cf;

    --body-bg: #373b40;

    --border-color:#585d65;

}

a{

    text-decoration: none;

}



nav{

    background-color:#585d65;

    height:70px;

    width: 90%;

    border-radius: 100px;

    position: fixed;

    top: 40px;

    left:5%;

    display:flex ;

    justify-content: space-between;

    align-items: center;

    box-sizing: border-box;

    padding: 0 20px;

    z-index: 1;



}

.logo{

    justify-self: end;

    padding-right: 20px;

   

}

.myname{

    

    font-size: 18px;

    color: white;

    line-height: 22px;

    font-weight: 600;

    justify-self: center;

}

.logo-name-wrapper{

    display: grid;

    grid-template-columns:repeat(2, 100px);

    align-items: center;

    

}

.menu-wrapper a:hover, .menu-wrapper a.active {

    color: #68e0cf;}

.menu-wrapper{

    display: flex;

    gap: 0 30px;

}

.menu-wrapper  a{

    color: white;

    font-weight: 600;

}



.nav-btn{

    padding: 20px 30px;

    border: 1px solid #fff;

    border-radius: 30px;

    margin-right: 0;

}

.nav-btn:hover{

    border: 1px solid #68e0cf;

}



/* main area*/

main{

    display: flex;

    background-color: #373b40;



}

.hero-img{

    width: 40%;

    height:100vh ;

    background-color:red ;

    position: fixed;

    background-image: url(./pic4.jpg);

    background-size: cover;

}

.hero-img-overlay{

    width: 100%;

    height: 100%;

    background-color:  rgba(104, 224, 207, 0.4 );

   

}



.section-wrapper{

    width: 55%;

    position: absolute;

    left:40%;

    margin-top: 120px;

   

}



.container{

    width: 85%;

    margin: auto;

}



/* intro section */

.intro-section{

    border-bottom: 1px solid var(--border-color);

 }

.intro-section h1{

    font-weight: 800;

    color: #fff;

    font-size: 40px;

    line-height: 58px;

    margin: 50px 0 0 -180px;

    padding: 50px;

    border-radius: 500px;

    background-color: var(--body-bg);



}

.job-title{

    text-transform: uppercase;

    color: var(--pri-color);

    font-size: 14px;

    font-weight: 600;

}

.summary-desc{

    width: 450px;

}



.summary-desc > p{

    line-height: 24px;

    color: #fff;

}

.contact-btn{

    padding: 20px 30px;

    color: #fff;

    text-decoration: none;

    border-radius: 30px;

     border: 1px solid var(--border-color) ;



}

.contact-btn:hover{

    color: #68e0cf;

    border: 1px solid var(--pri-color) ;

}

.contact-btn > i{

   margin: 10px;

}

.contact-btn-wrapper{

    margin: 70px 0 90px 0;

}
.d-none{
    display: none;
}



/*---------------------ABOUT SECTION-----------------*/

.about-section{

    width: 100%;

    padding: 50px 0;

     border-bottom: 1px solid var(--border-color); 

    color: #fff;

}

section header{

    margin-bottom: 50px;

}

section header>h2{

    font-size: 40px;

    font-weight: 800;

    text-transform:capitalize;

    color: #fff;

    margin-bottom: 0;

    margin-top: 10px;

}

section header >p{

    font-size: 16px;

    text-transform:uppercase;

    color: var(--pri-color);

    margin-top: 10px;

  font-weight: 600;



}



.personal-detail-wrapper{

    display: grid;

    grid-template-columns: repeat(2,auto);

    gap: 10px 0;

    margin-top: 40px;

}

.personal-detail{

    display: grid;

    grid-template-columns: 120px auto;

   

    

    

}

.personal-detail-header{

    text-transform: uppercase;

    font-weight: 600;

    color: var(--pri-color);

    

    

}

/* -------SERVICES SECTION-----*/

.services-section{

    width: 100%;

    padding: 50px 0;

    border-bottom: 1px solid var(--border-color);

    color: #fff;



}

.section-header{

    margin-bottom: 0;

}

section header>h2{

    font-size: 50px;

    font-weight: 800;

    text-transform:capitalize;

    color: #fff;

   

   

}

section header >p{

    font-size: 16px;

    text-transform:uppercase;

    color: var(--pri-color);

    margin-top: 10px;

   

}

.service-item> h3{

    font-weight: 800;

    font-size: 18px;

}

.service-items{

    display: grid;

    grid-template-columns: repeat(2,auto);



   

}

.service-item>p{

    width: 250px;

    font-size: 14px;

    line-height: 26px;

    padding-top: 15px;

}

.service-item{

    padding-top: 50px;

    padding-right: 50px;



}

.icon{

    color: var(--pri-color);

}

/* ----------PRICING-SECTION------------- */

.pricing-section{

        width: 100%;

        padding: 50px 0;

        border-bottom: 1px solid var(--border-color);

        color: #fff;

    

    }



.skill-list-wrapper{

    display: grid;

    grid-template-columns: repeat(2,auto);

    gap: 10px 0;

    position: relative;

    text-align: center;

    color:white;

 

}

.skills-list{

    grid-template-columns: 120px auto;

    padding-bottom: 0px;

}

.skills-list > h3{

    font-size: 25px;

    font-weight: 600;

}

.number{

    font-size: 54px;

    font-weight: 800 ;

}

.price{

vertical-align: top;

font-size: 18px;

color: rgb(153, 153, 153);

font-weight: 400;

}

.hour{

    color: rgb(153, 153, 153);

font-weight: 400;

}

.skill-list{

    padding-bottom: 30px;

}

.strikethrough{

    color: #949698



}

.buynow-btn{

    padding: 20px 30px;

    border: 1px solid #585d65;

    border-radius: 30px;

    margin-right: 0;

   color: white;

    font-weight: 600;

    margin-top: 70px;

    margin-bottom: 70px;

}

.buynow-btn:hover{

    color: #68e0cf;

    border: 1px solid var(--pri-color)

}

.social-wrapper{

    width:5% ;

   height:100vh ;

    background-color:#373b40 ;

    position: fixed;

    right: 0;

    border-left: 1px solid #585d65;

    display: flex;

    flex-direction: column;

    justify-content: flex-end;

    align-items: center;

    gap: 10px 0;

}

.social-icon{

    color: #fff;

   

}

.social-icon-circle{

    width: 50px;

    height: 50px;

    border-radius: 50%;

    border: 1px solid #585d65;

    display: flex;

    justify-content: center;

    align-items: center;

}

.social-icon:hover{

    color: #68e0cf;

}

/* --------------EXPERIENCE-SECTION------------------- */

.experience-section{

    width: 100%;

    padding: 40px 0;

    border-bottom: 1px solid var(--border-color);

    color: #fff;

}

.experiences{

    display: grid;

    grid-template-columns: repeat(2,auto);

    gap: 10px 0;

    margin-top: 40px;

}
.experience-header{
    display: flex;
}



    .experience-time{
    writing-mode: vertical-lr;
    color: var(--pri-color);
    font-weight: 600;
    font-size: 13px;
}

.experience-time2{
    writing-mode: vertical-lr;
    color: var(--pri-color);
    font-weight: 600;
    font-size: 11px;
}

.experience h3{

    font-size: 18px;
   margin-top: 0;
   margin-bottom: 0;
    font-weight: 800;
   padding-left: 15px;
}



.experience p{

    line-height: 28px;

    margin-top: 30px;

    width: 80%;

    font-size: 16px;

    

}

/* -----------------------EDUCATION SECTION-------------- */

.education-section{

    width: 100%;

    padding: 40px 0;

    border-bottom: 1px solid var(--border-color);

    color: #fff;

}

.educations{

    display: grid;

    grid-template-columns: repeat(2,auto);

    gap: 10px 0;

    margin-top: 20px;

}
.education-header{
    display: flex;
}



    .education-time{
    writing-mode: vertical-lr;
    color: var(--pri-color);
    font-weight: 600;
    font-size: 13px;
}

.education-time2{
    writing-mode: vertical-lr;
    color: var(--pri-color);
    font-weight: 600;
    font-size: 11px;
}

.education h3{

    font-size: 18px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;

}

.education p{

    line-height: 23px;

    margin-top: 30px;

    width: 80%;

    font-size: 15px;

}
/* -----------------------DESIGN SKILL SECTION---------------------- */
.designskill-section{

        width: 100%;
    
        padding: 40px 0;
    
        border-bottom: 1px solid var(--border-color);
    
        color: #fff;
    
    
}
.percent{
    padding-left: 220px;
    color: var(--pri-color);
    font-weight: 600;
}
.designpercent{
    border: 1px solid var(--pri-color);
    width: 80%;
}
.designskills{

    display: grid;

    grid-template-columns: repeat(2,auto);

    gap: 10px 0;

    margin-top: 20px;

}

.designskill h3{

    font-size: 18px;

    font-weight: 800;

}

.designskill p{

    line-height: 23px;

    margin-top: 30px;

    width: 80%;

    font-size: 15px;
}
/* -----------------------LANGUAGESKILLS-SECTION------------------ */

.languageskill-section{

    width: 100%;

    padding: 40px 0;

    border-bottom: 1px solid var(--border-color);

    color: #fff;


}
.languagekills{

display: grid;

grid-template-columns: repeat(2,auto);

gap: 10px 0;

margin-top: 20px;

}

.languageskill h3{

font-size: 18px;
line-height: 10px;

font-weight: 800;

}

.languageskill p{

line-height: 23px;

margin-top: 30px;

width: 80%;

font-size: 15px;
}
.circles{
    display: flex;
}
.circle{
    width: 12px;
    height: 12px;
    border: 1px solid var(--pri-color);
    border-radius: 50%;
    margin: 5px;
    /* background-image: linear-gradient(to right, red , yellow); */
    background-color:var(--pri-color);
}
.darkcircle{
    width: 12px;
    height: 12px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    margin: 5px;
    /* background-image: linear-gradient(to right, red , yellow); */
    background-color:var(--border-color);
}

/* -----------------------DESIGN SKILL SECTION---------------------- */
.designskill-section{

    width: 100%;

    padding: 40px 0;

    border-bottom: 1px solid var(--border-color);

    color: #fff;


}
.designskills{

display: grid;

grid-template-columns: repeat(2,auto);

gap: 10px 0;

margin-top: 20px;

}

.designskill h3{

font-size: 18px;

font-weight: 800;

}

.designskill p{

line-height: 23px;

margin-top: 30px;

width: 80%;

font-size: 15px;
}
/* -----------------------CODINGSKILLS-SECTION------------------ */

.codingskills-section{

width: 100%;

padding: 40px 0;

border-bottom: 1px solid var(--border-color);

color: #fff;


}
.codingskills{

display: grid;

grid-template-columns: repeat(3,auto);

gap: 10px 0;

margin-top: 20px;

}
.codingcircle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid var(--pri-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.codingskill h3{

font-size: 18px;
line-height: 10px;

font-weight: 800;

}

.codingskill p{

line-height: 23px;

margin-top: 30px;

width: 80%;

font-size: 15px;
}

/*-------------------------------REVIEWS SECTION---------------------------*/
.reviews-section{

    width: 100%;

    padding: 40px 0;

    border-bottom: 1px solid var(--border-color);

    color: #fff;


}
.reviews{

display: grid;

grid-template-columns: repeat(2,auto);

gap: 10px 0;

margin-top: 20px;

}
.review-header{
    display: flex;
}
.reviewpic{
    border-radius: 50%;
    width:80px;
    height: 80px;
}

.review h3{

font-size: 18px;
font-weight: 800;
padding-left: 20px;

}

.reviewtext{
    display: flex;
}
.quote{
   color: var(--pri-color);
   font-size: 50px;
   font-weight: 600;
   height: 20px;
   padding-right: 20px;

}
.reviewprof{
color: var(--pri-color);
font-size: 13px;
font-weight: 600;
}

.review p{

line-height: 24px;

margin-top: 30px;

width: 65%;

font-size: 15px;
}


/* ----------------------------------CLIENTS SECTION-------------------------------- */
.clients-section{
    width: 100%;
    padding: 40px 0;
    border-bottom: 1px solid var(--border-color);
    color: #fff;
}
.clients{
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 50px;
}
.client img{   
  opacity: 1;
  filter: grayscale(100%);
  background-color: transparent;
  filter: contrast(0.2);
  
}


/* ----------------------PORTFOLIO SECTION--------------------- */
.portfolio-section{

    width: 100%;

    padding: 40px 0;

    border-bottom: 1px solid var(--border-color);

    color: #fff;


}
.portfolio-nav-bar{
    
    justify-content: space-between;

    align-items: center;
    
    display: flex;

    gap: 0 30px;
    width: 60%;
   padding-left: 30px;
}
.portfolios{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px 0;   
}

.portfolio-nav-bar  a{
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.portfolio-nav-bar a:hover, .portfolio-nav-bar a.active {

    color: #68e0cf;
}

.portfolio img{
    width: 270px;
    height: 250px;
    padding: 10px;
}
.portfolio{
    text-align: center;
    padding: 40px 20px 0px;
}

.portfolio-section{
    width: 100%;
    padding: 40px 0 80px;
    border-bottom: 1px solid var(--border-color);
    color: #fff;
}
.gallery{
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    color: var(--pri-color);
}
.gallery-name{
    color: #fff;
    font-size: 18px;
    font-weight: 800;
}
/* ---------------------------CONTACT SECTION---------------------------- */
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px 0;
}

label{
    position: absolute;
    left: 75px;
    font-size: 13px;
    color: #fff;
    font-weight: 800;
    background: #373b40;
    padding: 0 10px;
    
    line-height: -5px;
    /* bottom: 50px; */
}
input{
    padding: 0 30px;
    background-color: var(--body-bg);
    border: 1px solid var(--border-color);
    font-size: 14px;
    border-radius: 30px;
    height: 60px;
    width: 160px;
}
.star{
    color: var(--pri-color);
}
form{
    padding-bottom: 30px;
}
.contact-subsection{
    border: 1px solid var(--border-color);
    border-radius: 35px;
    
}
.contact-subsection ul{
    list-style: none;
    padding-left: 30px;
    font-weight: 600;

}
.contact-subsection li{
    padding:  10px;
    color: #fff;
}.contact-green{
    color: #68e0cf;
}
.stylish{
    font-family: 'Mr Dafoe', 'cursive';
        font-size: 32px;
    color: #fff;
    padding: 20px 60px 10px 60px;
    font-weight: 300;
    text-transform: capitalize;
}

.message-btn{

    padding: 20px 30px;

    color: #fff;

    text-decoration: none;

    border-radius: 30px;

     border: 1px solid var(--border-color) ;
     font-weight: 800;
     font-size: 14px;



}

.message-btn:hover{

    color: #68e0cf;

    border: 1px solid var(--pri-color) ;

}

.message-btn > i{

   margin: 10px;

}

.message-btn-wrapper{

    margin: 20px 0 0px 0;

}
.full-name-label{
    bottom: 448px ;
}
.email-label{
    bottom: 355px ;
}
.message-label{
    bottom: 265px ;
}
#mobile-side-bar{
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #585d65;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding: 120px 20px 20px 20px;


}
.d-block{
    display: block;
}
aside button{
    right: 20px;
    border: none;
    position: fixed;
}
.side-menu{
    padding-top: 30px;
    
}
.side-menu-item{
    padding-bottom: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.side-menu-item a{
    color: #fff;
    text-decoration: none;
}
.fa-xmark{
    color: #585d65;
}
.side-menu .contact-btn{
    border: 2px solid white;
}



/* ----------------MOBILE DEVICE--------------- */
@media  screen and (max-width : 800px){
    body{
        text-align: center;
    }
nav{
    width: 100%!important;
    left:0%;
    padding: 20px 20px 10px 0;
    position: fixed !important;
    background-color: #373b40    ;
    border-radius: 0;
    top: 0 !important;
}
.side-bar-btn{
background-color: transparent;
padding: 5px 10px;
border: none;
}
.fa-bars{
background-color: transparent;
    color: white;
    font-size: 23px;
}
.menu-wrapper{
    display: none;
}
.hero-img{
    width: 100%;
    position: static;
}
.intro-section {
    margin-top: 100vh;
    height: 100% !important;
    width: auto !important;
    padding-top: 40px;
}
.intro-section h1{
   
        margin: 0% !important;
        text-align: center;
        font-size: 35px;
        padding-top: 0% !important;
    
}

.summary-desc{
    width: auto  !important;
}
.firstcontainer{
    height: 100% !important;
    width: auto !important;
}
.section-wrapper{
    width: 100% !important;
    left: 0% !important;

}
.social-wrapper{
display: none;
    position: static !important;

}
.service-items{
    grid-template-columns: repeat(1,auto);

}
.service-item>p{

    width: 100% !important;

}
.personal-detail{
    padding-bottom: 10px;
}
.personal-detail-wrapper{
    display: block;
}
.email-personal-detail{
    grid-template-columns: 70px auto;
}
.buynow-btn{
    padding: 20px 24px;
}
.designskills{
    grid-template-columns: repeat(1,auto);
}
.designskill p{
    width: 100%;
}
.percent {
    padding-left: 150px;}
.languagekills{
    grid-template-columns: repeat(1,auto);
}
.codingskills{
    grid-template-columns: repeat(2,auto);

}
.clients{
    grid-template-columns: repeat(1,auto);

}
.reviews{
    grid-template-columns: repeat(1,auto);

}
.portfolios{
    grid-template-columns: repeat(1,auto);
}
.portfolio{
    padding: 10px 0px;
}
.portfolio-nav-bar{
    display: none;
}
.contact-wrapper{
    grid-template-columns: repeat(1,auto);
    gap: 70px;

}
.full-name-label{
    bottom: 6.6% !important;
}
.email-label{
    bottom: 5.93% !important;
}
.message-label{
    bottom: 5.3% !important;
}
.experience p {
    line-height: 21px;
    margin-top: 15px;
    width: 100%;
    font-size: 14px;}

    .experience h3 {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 800;
         padding-left: 0;
    }
    .experience-time{
        font-size: 12px;
    }

    .experiences {
            gap: 20px;
}
.circles{
    justify-content: center;
}
.reviewtext{
    justify-content: center;
}
.languageskill p{
    margin: 30px auto 0 auto;
}
section header{
    margin-bottom: 30px;
}
.codingskill p {
    font-size: 14px;
}
.contact-subsection h2{
    padding-left: 0 !important;
}
.contact-subsection p{
    padding-left: 0;
}
.contact-subsection ul{
    padding-left: 0;
}
.service-item{
    padding-right: 0;
}
}




/* ---------------------DESKTOP---------------- */
@media  screen and (min-width : 769px) {
    .side-bar-btn{
        display: none;
    }
   
}